{% extends 'layout.html' %}

{% block content %}
{% include 'navbar.html' %}

<div class="container">
  <!--- Brands --->
  <div class="row">

    {% if brand %}
        {% for brand_product in brand.items %}
      <div class="col-md-3 mt-3">
        <div class="card">
          <img src="{{url_for('static', filename='images/' + brand_product.image_1)}}" alt="{{brand_product.name}}" class="card-img-top" height="200">
          <div class="card-body">

            <h5 class="text-center">{{brand_product.name}}</h5>
            <p class="text-center">Price: £{{brand_product.price}}</p>
            {% if brand_product.discount > 0 %}
            <p class="text-center">{{brand_product.discount}}% off!</p>
            {% endif %}
          </div>
          <div class="card-footer">
            <a href="{{url_for('single_page', id=brand_product.id)}}" class="float-start btn btn-sm btn-primary">Details</a>
            <form action="{{url_for('add_cart')}}" method="post">
                <input type="hidden" name="product_id" value="{{brand_product.id}}">
                       <button type="submit" class="btn btn-sm btn-warning float-end">Add to cart</button>
                <input type="hidden" name="quantity" id="" value="1" min="1" max="{{brand_product.stock}}">
                {% set colors = brand_product.colors.split(',') %}
                 <select name="colors" id="colors" style="visibility: hidden">
                     {% for color in colors %}
                         {% set col = color.split(':') %}
                         <option value="{{col[0]}}">{{col[0]|.title()}}</option>
                     {% endfor %}
                 </select>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row">
  <div class="col text-center">
    {% if brand.has_prev %}
      <a href="{{url_for('get_brand', id=brand_with_id.id, page=brand.prev_num)}}" class="btn btn-sm btn-outline-info btn-mt">Previous</a>
    {% endif %}
    {% for page_num in brand.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
      {% if page_num %}
        {% if brand.page == page_num %}
          <a href="{{url_for('get_brand', id=brand_with_id.id, page=page_num)}}" class="btn btn-info btn-sm btn-mt">{{ page_num }}</a>
        {% else %}
          <a href="{{url_for('get_brand', id=brand_with_id.id, page=page_num)}}" class="btn btn-sm btn-outline-info btn-mt">{{ page_num }}</a>
        {% endif %}
      {% else %}
      ...
      {% endif %}
    {% endfor %}
      {% if brand.has_next %}
      <a href="{{url_for('get_brand', id=brand_with_id.id, page=brand.next_num)}}" class="btn btn-sm btn-outline-info btn-mt">Next</a>
    {% endif %}
    </div>
  </div>

  <!--- Categories --->
    <div class="row">
    {% elif category %}

        {% for category_product in category.items %}
      <div class="col-md-3 mt-3">
        <div class="card">
          <img src="{{url_for('static', filename='images/' + category_product.image_1)}}" alt="{{category_product.name}}" class="card-img-top" height="200">
          <div class="card-body">

            <h5 class="text-center">{{category_product.name}}</h5>
            <p class="text-center">Price: £{{category_product.price}}</p>
            {% if category_product.discount > 0 %}
            <p class="text-center">{{category_product.discount}}% off!</p>
            {% endif %}
          </div>
          <div class="card-footer">
            <a href="{{url_for('single_page', id=category_product.id)}}" class="float-start btn btn-sm btn-primary">Details</a>
            <form action="{{url_for('add_cart')}}" method="post">
                <input type="hidden" name="product_id" value="{{category_product.id}}">
                       <button type="submit" class="btn btn-sm btn-warning float-end">Add to cart</button>
                <input type="hidden" name="quantity" id="" value="1" min="1" max="{{category_product.stock}}">
                {% set colors = category_product.colors.split(',') %}
                 <select name="colors" id="colors" style="visibility: hidden">
                     {% for color in colors %}
                         {% set col = color.split(':') %}
                         <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                     {% endfor %}
                 </select>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  <div class="row">
  <div class="col text-center">
    {% if category.has_prev %}
      <a href="{{url_for('get_category', id=category_with_id.id, page=category.prev_num)}}" class="btn btn-sm btn-outline-info btn-mt">Previous</a>
    {% endif %}
    {% for page_num in category.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
      {% if page_num %}
        {% if category.page == page_num %}
          <a href="{{url_for('get_category', id=category_with_id.id, page=page_num)}}" class="btn btn-info btn-sm btn-mt">{{ page_num }}</a>
        {% else %}
          <a href="{{url_for('get_category', id=category_with_id.id, page=page_num)}}" class="btn btn-sm btn-outline-info btn-mt">{{ page_num }}</a>
        {% endif %}
      {% else %}
      ...
      {% endif %}
    {% endfor %}
      {% if category.has_next %}
      <a href="{{url_for('get_category', id=category_with_id.id, page=category.next_num)}}" class="btn btn-sm btn-outline-info btn-mt">Next</a>
    {% endif %}
    </div>
  </div>

  <!--- Products --->
    <div class="row">
    {% else %}


      {% for product in products.items %}
      <div class="col-md-3 mt-3">
        <div class="card">
          <img src="{{url_for('static', filename='images/' + product.image_1)}}" alt="{{product.name}}" class="card-img-top" height="200">
          <div class="card-body">

            <h5 class="text-center">{{product.name}}</h5>
            <p class="text-center">Price: £{{product.price}}</p>
            {% if product.discount > 0 %}
            <p class="text-center">{{product.discount}}% off!</p>
            {% endif %}
          </div>
          <div class="card-footer">
            <a href="{{url_for('single_page', id=product.id)}}" class="float-start btn btn-sm btn-primary">Details</a>
            <form action="{{url_for('add_cart')}}" method="post">
                <input type="hidden" name="product_id" value="{{product.id}}">
                       <button type="submit" class="btn btn-sm btn-warning float-end">Add to cart</button>
                <input type="hidden" name="quantity" id="" value="1" min="1" max="{{product.stock}}">
                {% set colors = product.colors.split(',') %}
                 <select name="colors" id="colors" style="visibility: hidden">
                     {% for color in colors %}
                         {% set col = color.split(':') %}
                         <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                     {% endfor %}
                 </select>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
<div class="row">
  <div class="col text-center">
    {% if products.has_prev %}
      <a href="{{url_for('home', page=products.prev_num)}}" class="btn btn-sm btn-outline-info btn-mt">Previous</a>
    {% endif %}
    {% for page_num in products.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
      {% if page_num %}
        {% if products.page == page_num %}
          <a href="{{url_for('home', page=page_num)}}" class="btn btn-info btn-sm btn-mt">{{ page_num }}</a>
        {% else %}
          <a href="{{url_for('home', page=page_num)}}" class="btn btn-sm btn-outline-info btn-mt">{{ page_num }}</a>
        {% endif %}
      {% else %}
      ...
      {% endif %}
    {% endfor %}
      {% if products.has_next %}
      <a href="{{url_for('home', page=products.next_num)}}" class="btn btn-sm btn-outline-info btn-mt">Next</a>
    {% endif %}
    </div>
  </div>
      {% endif %}
  </div>

</div>


{% endblock content %}