{% extends "layout.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
{% include "_messages.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1 class="bg-info text-center">Register</h1>
        </div>
        <div>
            {% if form.name.errors %}
            <ul class="errors">
                {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <form method="post">

            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    {{ form.csrf_token }}
                    {{ render_field(form.name, class="form-control") }}
                    {{ render_field(form.username, class="form-control") }}
                    {{ render_field(form.email, class="form-control") }}
                    {{ render_field(form.password, class="form-control") }}
                    {{ render_field(form.confirm, class="form-control") }}
                    {{ form.profile_pic}}
                </div>
                <div class="col-md-4">
                    {{ render_field(form.address_1, class="form-control") }}
                    {{ render_field(form.address_2, class="form-control") }}
                    {{ render_field(form.city, class="form-control") }}
                    {{ render_field(form.state, class="form-control") }}
                    {{ render_field(form.country, class="form-control") }}
                    {{ render_field(form.zipcode, class="form-control") }}
                    {{ render_field(form.contact, class="form-control") }}
                    {{ render_field(form.submit, class="btn btn-sm btn-info") }}
                </div>
                <div class="col-md-2">

                </div>
            </div>
        </form>
    </div>

</div>
{% endblock content %}