{% extends 'layout.html' %}

{% block content %}

{% include '_messages.html' %}
<div class="container">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin_brands') }}">Brands</a>
            </li>
                          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin_categories') }}">Categories</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{url_for('addbrand')}}">Add brand</a></li>
                <li><a class="dropdown-item" href="{{url_for('addcat')}}">Add category</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{url_for('addproduct')}}">Add product</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    </div>

<div class="container mt-5">
    <table class="table table-sm table-striped table-condensed">
        <thead>
            <th>Sr</th>
            <th>Product</th>
            <th>Price</th>
            <th>Discount</th>
            <th>Brand</th>
            <th>Image</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.discount }} %</td>
                <td>{{ product.brand.name }}</td>
                <td><img src="{{ url_for('static', filename='images/' + product.image_1) }}" width="50" height="50"></td>

                <td><a href="{{ url_for('deleteproduct', id=product.id) }}" class="btn btn-info btn=sm">Edit</a></td>
                <td>
                    <!-- Button trigger modal for deleting products -->
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#DeleteModal-{{product.id}}">
                    Delete
                    </button>
                </td>
            </tr>
                    <!-- Modal -->
                <div class="modal fade" id="DeleteModal-{{product.id}}" tabindex="-1" aria-labelledby="ProductModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="ProductModalLabel">Delete product {{product.name}}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p>Do you really want to delete the product "{{product.name}}"?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <form action="{{url_for('deleteproduct', id=product.id)}}" method="POST">
                          <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}