{% extends 'layout.html' %}

{% block content %}

{% include '_messages.html' %}
<div class="container">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('brands') }}">Brands</a>
            </li>
                          <li class="nav-item">
              <a class="nav-link" href="{{ url_for('categories') }}">Categories</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    </div>

<div class="container mt-5">
    <table class="table table-sm table-striped table-condensed table-hover">
        <thead>
            <th>Sr</th>
            <th>Name</th>

            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% if brands %}
                {% for brand in brands %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{ brand.name }}</td>
                    <td><a href="{{url_for('updatebrand', id=brand.id)}}" class="btn btn-sm btn-outline-info">Edit</a></td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#DeleteModal-{{brand.id}}">
                        Delete
                        </button>
                    </td>
                </tr>
                <!-- Button trigger modal for deleting -->
                <!-- Modal -->
                <div class="modal fade" id="DeleteModal-{{brand.id}}" tabindex="-1" aria-labelledby="BrandModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="BrandModalLabel">Delete brand {{brand.name}}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <p>Do you really want to delete the brand "{{brand.name}}"?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <form action="{{url_for('deletebrand', id=brand.id)}}" method="POST">
                          <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
            {% else %}
            {% for category in categories %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{ category.name }}</td>
                    <td><a href="{{url_for('updatecat', id=category.id)}}" class="btn btn-sm btn-outline-info">Edit</a></td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#DeleteModal-{{category.id}}">
                            Delete
                        </button>
                    </td>
                </tr>
                <!-- Button trigger modal for deleting -->
                <!-- Modal -->
                <div class="modal fade" id="DeleteModal-{{category.id}}" tabindex="-1" aria-labelledby="CategoryModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="CategoryModalLabel">Delete category {{category.name}}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <p>Do you really want to delete the cateegory "{{category.name}}"?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <form action="{{url_for('deletecat', id=category.id)}}" method="POST">
                          <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock content %}