{% extends 'layout.html' %}

{% block content %}

{% include 'navbar.html' %}
{% include '_messages.html' %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
    <table class="table table sm">
      <thead>
        <th>Sr</th>
        <th>Image</th>
        <th>Name</th>
        <th>Color</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Discount</th>
        <th>Subtotal</th>
        <th>Update</th>
        <th>Delete</th>
      </thead>
      <tbody>
        {% for key, product in session['Shoppingcart'].items() %}
        {% set discount = "%0.2f"|format((product.discount/100)*product.price|float) %}

          <tr>
            <td>{{loop.index}}</td>
            <td><img src="{{url_for('static', filename='images/'+product.image)}}" width="50" height="45" alt="{{product.name}}"></td>
            <td>{{product.name}}</td>
            <form action="{{url_for('update_cart', code=key)}}" method="POST">
            <td>{% set colors = product.colors.split(',') %}
                <label for="color">Colors:</label>
                       <select name="color" id="color">
                         <option value="{{product.color}}" style="display:none;">{{product.color.title()}}</option>
                           {% for color in colors %}
                               {% set col = color.split(':') %}
                               <option value="{{col[0]}}">{{col[0].title() }}</option>
                           {% endfor %}
                       </select>
            </td>
            <td>£{{product.price}}</td>
            <td><input type="number" name="quantity" min="1" max="10" value="{{product.quantity}}"></td>
            {% if product.discount > 0 %}
            <td>{{product.discount}}% (£{{ discount }})</td>
            {% else %}
            <td></td>
            {% endif %}
            {% set subtotal = product.quantity|int * product.price|float %}
            <td>£{{ "%0.2f"|format((subtotal|float)-(discount|float)) }}</td>
            <td><button class="btn btn-sm btn-info" type="submit">Update</button></td></form>
            <td><a href="{{url_for('delete_item', id=key)}}" class="btn btn-sm btn-danger">Delete</a></td>
          </tr>
        {% endfor %}
        <tr>
          <td><a href="{{url_for('home')}}">Check out</a></td></td>
          <td><a href="{{url_for('home')}}">Continue Shopping</a></td>
          <td colspan="3">Tax: £{{tax}}</td>
          <td colspan="4"><h5>Grandtotal: £{{grandtotal}}</h5></td>
          <td><a href="{{url_for('clear_cart')}}" class="btn btn-danger btn-sm float-end me-auto">Clear cart</a></td>
        </tr>
      </tbody>
    </table>
      </div>
  </div>
</div>


{% endblock content %}